* { 
    padding:0px;
     margin:0px;
  }
  .container
  {
	background-color:ghostwhite;
	width:35%;
	margin:auto;
	padding:25px;
  }
  .content
  a 
  {
	text-decoration:none;
	display:inline-block;
    background-color:red;
	color:white;
    padding:8px 20px;	  
  }	 
  i 
  { 
    color:red; 
  }
  ol 
  { 
    list-style-type:none; 
  }
